* {
  margin: 0%;
  padding: 0%;
}

footer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  background-color: rgb(60, 203, 203);
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
}

.footerHeader {
  font-size: 17px;
  color: black;
  padding: 20px;
}

footer a {
  padding: 2.5px;
  list-style: none;
  text-decoration: none;
  color: black;
  text-align: center;
}

footer div {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  max-width: 50px;
  height: 45px;
  padding-left: 8px;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  width: 70%;
  margin-right: 45px;
  align-items: center;
}

.links-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.5rem;
  padding-bottom: 20px;
}

.links-container {
  width: 15%;
}

.list:hover {
  box-shadow: 0 3px 5px -2px rgb(0, 0, 0);
}
