Footer {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  background-color: #272727;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.footerHeader {
  font-size: 17px;
  color: white;
  padding: 20px;
  align-content: center;
}

footer a {
  padding: 2.5px;
  list-style: none;
  text-decoration: none;
  color: white;
  text-align: center;
}

Footer div {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15px 0 0 0;
  align-items: center;
}

Footer div {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  max-width: 20px;
  height: 45px;
  padding-left: 8px;
  align-items: center;
}

/* .icon-container {
  display: flex;
  margin: 0;
  margin-top: -20px;
  padding: 55px;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  width: auto;
  align-items: center;
} */

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.5rem;
  width: 33%;
}

.links-container {
  width: 30%;
}

.list:hover {
  box-shadow: 3px 3px 5px 3px #8d1634;
}
