.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  background-color: #272727;
  list-style: none;
  text-decoration: none;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
  color: white;
  height: 65px;
  z-index: 1;
}

.logo {
  display: flex;
  justify-content: left;
  width: 55px;
}

.imgContainer {
  display: flex;
  align-items: center;
  margin: 10px;
  color: white;
}

.theRest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  cursor: pointer;
}

.theRest a {
  font-size: 19px;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10px;
}

.searchButton {
  margin-left: 10px;
  border: none;
  height: 32.5px;
  width: 45px;
  background-color: white;
  cursor: pointer;
}

.search {
  max-width: 300px;
  background-color: white;
  color: black;
  font-family: "Times New Roman", Times, serif;
  border-radius: 0%;
}

.homeIcon {
  margin: 15px;
  border-radius: 50%;
  padding: 4px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

.homeIcon i {
  font-size: 28px;
}

.homeIcon:visited {
  color: white;
}

.fa-home::before {
  color: white;
}

.cart {
  position: relative;
  display: block;
  width: 28px;
  margin: 15px;
  height: 38px;
  font-size: 22px;
  height: auto;
  overflow: hidden;
}

.material-icons {
  position: relative;
  top: 4px;
  z-index: 1;
  font-size: 24px;
  color: white;
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 11px;
  border-radius: 50%;
  background: #2a5039;
  width: 16px;
  display: block;
  text-align: center;
  color: white;
  font-weight: bold;
}

.cartIcon {
  margin: 15px;
  padding: 5px;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
}

.cartIcon:visited {
  color: white;
}

.fa-shopping-bag::before {
  color: white;
}

.userIcon {
  border-radius: 100%;
  padding: 15px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

.fa-caret-down {
  color: white;
}

.userIcon:visited {
  color: white;
}

.fa-user-circle::before {
  color: white;
}

.login {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.accountMenu {
  overflow: hidden;
}

.accountDropBtn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin: 15px;
  text-align: right;
  color: white;
  cursor: pointer;
}

.accountDropMenu .accountDropBtn {
  font-size: 22px;
  padding: 5px 12px;
  width: 120px;
  border: none;
  background: transparent;
  color: white;
}

.accountDropContent {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 0.1vh;
  height: 25vh;
  z-index: 1;
  background-color: white;
  border: 3px solid #272727;
  width: 15%;
  right: 0;
}

.accountDropContent h2 {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  background-color: #272727;
}

.accountDropContent .header {
  background-color: rgb(255, 255, 255);
  opacity: 90%;
  padding: 14px;
  color: black;
  width: 100%;
  text-align: center;
}
.accountMenu:hover .accountDropContent {
  display: block;
}

.accountDropColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.accountDropColumn button {
  padding: 12px;
  border-radius: 6px;
  margin-top: 135px;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  background-color: Transparent;
  width: 160px;
  zoom: 110%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 13px;
}

.accountDropColumn button:hover {
  padding: 12px;
  border-radius: 6px;
  margin-top: 105px;
  cursor: pointer;
  background-color: #8d1634;
  color: black;
  width: 160px;
  zoom: 110%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 13px;
}

.accountDropColumn h3 {
  color: rgba(0, 0, 0);
  background-color: #8d1634;
  opacity: 50%;
  width: 55%;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 7px;
  font-size: 16px;
}

.accountDropColumn a {
  color: rgba(0, 0, 0);
  opacity: 50%;
  width: 60%;
  padding: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.userInfoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: fit-content;
}

.userInfoDiv h3 {
  color: #8d1634;
  font-size: 24px;
}

.accountADiv {
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.accountADiv button {
  background: transparent;
  border: none;
}

.userInfoDiv a {
  color: #ffffff;
  font-size: 1vw;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.userInfoDiv a:hover {
  color: #b3b3b3;
  font-size: 1vw;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
}

.accountIDiv {
  width: 10%;
  display: flex;
  justify-content: right;
  text-align: right;
  right: 0;
  margin-top: 10%;
  height: 20vh;
}

.userInfoDiv i {
  margin-right: 20px;
  font-size: 1.1vw;
  color: #8d1634;
}

.secondInfoDiv {
  border: 1px solid #272727;
  height: 8.5vh;
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  left: 0;
  width: 100%;
}

.thirdInfoDiv {
  border: 1px solid #272727;
  height: 8vh;
  background-color: #272727;
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
}

.fourthInfoDiv {
  border: 1px solid #272727;
  height: 8vh;
  background-color: #272727;
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  left: 0;
}

.fifthInfoDiv {
  border: 1px solid #272727;
  height: 8vh;
  background-color: #272727;
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
  left: 0;
  color: white;
}

.fifthInfoDiv button {
  color: #ffffff;
  font-size: 1vw;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.fifthInfoDiv button:hover {
  color: #b3b3b3;
  font-size: 1vw;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.searchMenu {
  overflow: hidden;
}

.searchDropBtn {
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.searchMenu .searchDropBtn {
  font-size: 22px;
  padding: 5px 12px;
  width: 60px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.searchDropContent {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 0.1vh;
  max-width: 300px;
  z-index: 1;
  background-color: white;
}

.searchDropContent h2 {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  background-color: #272727;
}

.searchDropContent .header {
  background-color: #272727;
  opacity: 90%;
  padding: 14px;
  color: white;
  width: 100%;
  text-align: center;
}

.searchMenu:hover .searchDropContent {
  display: block;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10px;
}

.searchButton {
  margin-left: 10px;
  border: none;
  height: 32.5px;
  width: 45px;
  background-color: #272727;
  cursor: pointer;
}

.search {
  max-width: 300px;
  background-color: #272727;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  border-radius: 0%;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 15px;
    background-color: #272727;
    list-style: none;
    text-decoration: none;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    color: white;
    height: 65px;
    z-index: 1;
  }

  .logo {
    display: flex;
    justify-content: left;
    width: 45px;
  }

  .theRest {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 10px;
    margin-left: 30px;
    width: 90%;
    cursor: pointer;
  }

  .homeIcon {
    margin: 7px;
    border-radius: 50%;
    padding: 4px;
    color: white;
    font-size: 11px;
    text-decoration: none;
    list-style: none;
  }

  .cart {
    position: relative;
    display: block;
    width: 28px;
    margin: 15px;
    height: 38px;
    font-size: 18px;
    height: auto;
    overflow: hidden;
  }

  .accountDropBtn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin: 7px;
    text-align: right;
    color: white;
    cursor: pointer;
  }

  .searchMenu .searchDropBtn {
    font-size: 22px;
    padding: 5px 12px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
  }
}
